@font-face {
  font-family: Manrope-Bold;
  src: url(../font/Manrope-Bold.ttf);
}
@font-face {
  font-family: Manrope-ExtraBold;
  src: url(../font/Manrope-ExtraBold.ttf);
}
@font-face {
  font-family: Manrope-Regular;
  src: url(../font/Manrope-Regular.ttf);
}
@font-face {
  font-family: Manrope-Medium;
  src: url(../font/Manrope-Medium.ttf);
}
